<h1>Create or Edit Note</h1>
<form method="post" action="/notes/<%= @note.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>
        <label for="title">Title: </label>
        <input type="text" id="title" name="note[title]" value="<%= @note.title %>">
    </p>
    <p>
        <label for="content">Note: </label>
        <input type="content" id="content" name="note[content]" value="<%= @note.content %>">
    </p>
    <p>
    <% if @user_categories.nil? %>
        <label for="category">This note does not have a category associated with it.
        Please select a category for this note:</label>
        <% else %>
        <label for="category">Please select a category if you want to change your note's category:
        </label>
        <% end %>
        
            <label for="category">Category: </label>
            <select name="note[category_id]" id="category">
                <option>- Select a category -</option>
                <% @user_categories.each do |category| %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% end%>
            </select>
        </p>
     <p>
        <input type="submit" id="submit" value="Save Changes">
    </p>
</form>