<nav><a href="/logout">logout</a></nav>
<h1>TITLE: <%= @note.title%></h1>

<p>CONTENT: <%= @note.content %></p>
<p>Created: <%= @note.created_at %></p>
<p>Updated: <%= @note.updated_at %></p>
<% if @category %>
    <p>Category: <a href="/category/<%= @category.id %>"> <%= @category.name %> </a></p>
<% else %>
    <p>This note is not in a category. <a href="/category/new">Create a category to save your notes in.</a> </p>
<% end %>
<p><a href="/notes/<%= @note.id %>/edit">Edit Note</p>



<p><a href="/category">Go to all categories</a><br>
<a href="/notes">Go to all of my notes</a></p>

<form action="/notes/<%= @note.id %>/delete" method="post">
    <p>
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Note">
    </p>

</form>
